.vscode/

*/__pycache__/*

FLAME2020/
FLAME2023/

# submodules/

pytorch3d/

data/

*.pyc

log/

script/

*.so

ext/

code/wandb/

*.ipynb

# *.conf

*.ply

# *.png

*.mp4

slurm_out/

wandb/

sweep_log/

paper/

ckpt/

confs/

demo/output/